* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(63, 63, 63);
  min-height: 100vh;
}

#main {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

#canvas {
  position: absolute;
  height: 400px;
  width: 900px;
  background-color: rgb(172, 180, 255);
}

.player {
  position: absolute;
  top: 50%;
  left: 10%;
  
}




.bot {
  position: absolute;
  left: 0;
  bottom: 10px;
}
